body{
 background-color: #f5f6fa;
}

.app{
 display: flex;
 justify-content: space-evenly;
 padding: 20px;
}

.app__dropdown{
 background-color: white;
}

.app__right__lineGraph{
 flex-grow: 1;
}

.app__header > h1{
 color: #fc3c3c ;
 font-size: 2rem;
}

.app__left{
 flex: 0.6;
 padding:20px;
}

.app__right{
 flex:0.4;
}

.app__right__lineGraph{
 color: black;
}

.app__header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 20px;
}

.app__stats{
 display: flex;
 justify-content: space-between;
}

.app__graphTitle{
 margin: 10px 0;
}

@media (max-width: 990px){
 .app {
  flex-direction: column;
 }
}